nifi/NiFi_PowerBI/NIFI_Flow.json
{
  "flowContents": {
    "identifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
    "instanceIdentifier": "0484b1df-019e-1000-712d-1151d9047c10",
    "name": "Publish",
    "comments": "",
    "position": {
      "x": 368.0,
      "y": 1400.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "0485fd80-019e-1000-d8f8-6de39cc364ef",
        "instanceIdentifier": "41c5afe1-97df-3d76-35e3-0ad3f888f4e3",
        "name": "InvokeHTTP",
        "comments": "",
        "position": {
          "x": 168.0,
          "y": 88.0
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Request Content-Encoding": "DISABLED",
          "Request Multipart Form-Data Filename Enabled": "true",
          "Request Chunked Transfer-Encoding Enabled": "false",
          "Response Header Request Attributes Prefix": null,
          "Proxy Configuration Service": null,
          "HTTP/2 Disabled": "False",
          "Connection Timeout": "5 secs",
          "Response Cookie Strategy": "DISABLED",
          "Socket Read Timeout": "15 secs",
          "Socket Idle Connections": "5",
          "Request Body Enabled": "true",
          "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
          "HTTP URL": "#{PowerBI.ApiUrl}",
          "Request OAuth2 Access Token Provider": null,
          "Socket Idle Timeout": "5 mins",
          "Response Redirects Enabled": "True",
          "Socket Write Timeout": "15 secs",
          "Request Header Attributes Pattern": null,
          "Response FlowFile Naming Strategy": "RANDOM",
          "Response Cache Enabled": "false",
          "Request Date Header Enabled": "True",
          "Request Failure Penalization Enabled": "true",
          "Response Body Attribute Size": "256",
          "SSL Context Service": null,
          "Response Generation Required": "true",
          "Request User-Agent": null,
          "Response Header Request Attributes Enabled": "false",
          "HTTP Method": "POST",
          "Request Username": null,
          "Request Content-Type": "application/json",
          "Response Body Attribute Name": null,
          "Request Digest Authentication Enabled": "false",
          "Request Multipart Form-Data Name": null,
          "Response Cache Size": "10MB",
          "Response Body Ignored": "false"
        },
        "propertyDescriptors": {
          "Request Content-Encoding": {
            "name": "Request Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Filename Enabled": {
            "name": "Request Multipart Form-Data Filename Enabled",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Chunked Transfer-Encoding Enabled": {
            "name": "Request Chunked Transfer-Encoding Enabled",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Prefix": {
            "name": "Response Header Request Attributes Prefix",
            "displayName": "Response Header Request Attributes Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Proxy Configuration Service": {
            "name": "Proxy Configuration Service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP/2 Disabled": {
            "name": "HTTP/2 Disabled",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cookie Strategy": {
            "name": "Response Cookie Strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Password": {
            "name": "Request Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          },
          "Socket Read Timeout": {
            "name": "Socket Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Connections": {
            "name": "Socket Idle Connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Body Enabled": {
            "name": "Request Body Enabled",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "OAuth2 Access Token Refresh Strategy": {
            "name": "OAuth2 Access Token Refresh Strategy",
            "displayName": "OAuth2 Access Token Refresh Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP URL": {
            "name": "HTTP URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request OAuth2 Access Token Provider": {
            "name": "Request OAuth2 Access Token Provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Idle Timeout": {
            "name": "Socket Idle Timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Redirects Enabled": {
            "name": "Response Redirects Enabled",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Header Attributes Pattern": {
            "name": "Request Header Attributes Pattern",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response FlowFile Naming Strategy": {
            "name": "Response FlowFile Naming Strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Enabled": {
            "name": "Response Cache Enabled",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Date Header Enabled": {
            "name": "Request Date Header Enabled",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Failure Penalization Enabled": {
            "name": "Request Failure Penalization Enabled",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Size": {
            "name": "Response Body Attribute Size",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Response Generation Required": {
            "name": "Response Generation Required",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request User-Agent": {
            "name": "Request User-Agent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Header Request Attributes Enabled": {
            "name": "Response Header Request Attributes Enabled",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Username": {
            "name": "Request Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Content-Type": {
            "name": "Request Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Attribute Name": {
            "name": "Response Body Attribute Name",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Digest Authentication Enabled": {
            "name": "Request Digest Authentication Enabled",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Request Multipart Form-Data Name": {
            "name": "Request Multipart Form-Data Name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Cache Size": {
            "name": "Response Cache Size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Response Body Ignored": {
            "name": "Response Body Ignored",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {
          "background-color": "#f5e000"
        },
        "schedulingPeriod": "1 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "No Retry",
          "Retry",
          "Original",
          "Failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "9b9a1b25-5607-3b59-b65f-1f06a44bfd4c",
        "instanceIdentifier": "0ec8cfe6-019e-1000-2c24-7abcb53aec46",
        "name": "ConvertRecord",
        "comments": "",
        "position": {
          "x": -856.0,
          "y": 104.0
        },
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Include Zero Record FlowFiles": "true",
          "Record Writer": "a1e54277-0ff0-3faa-b6b7-6f2e18d2cf3f",
          "Record Reader": "ef5bbe86-5ea9-321b-b329-8e280b8851d8"
        },
        "propertyDescriptors": {
          "Include Zero Record FlowFiles": {
            "name": "Include Zero Record FlowFiles",
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Writer": {
            "name": "Record Writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "95cc1c7b-9333-3f3d-b532-5c81d5882538",
        "instanceIdentifier": "0e8d3425-019e-1000-ffaf-524a9cd0da36",
        "name": "ReplaceText",
        "comments": "",
        "position": {
          "x": -328.0,
          "y": -48.0
        },
        "type": "org.apache.nifi.processors.standard.ReplaceText",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Replacement Value": "{\"rows\":$1}",
          "Search Value": "^(\\[[\\s\\S]*\\])$",
          "Evaluation Mode": "Entire text",
          "Text to Prepend": null,
          "Line-by-Line Evaluation Mode": "All",
          "Character Set": "UTF-8",
          "Maximum Buffer Size": "200 MB",
          "Replacement Strategy": "Regex Replace",
          "Text to Append": null
        },
        "propertyDescriptors": {
          "Replacement Value": {
            "name": "Replacement Value",
            "displayName": "Replacement Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Search Value": {
            "name": "Search Value",
            "displayName": "Search Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Evaluation Mode": {
            "name": "Evaluation Mode",
            "displayName": "Evaluation Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Text to Prepend": {
            "name": "Text to Prepend",
            "displayName": "Text to Prepend",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Line-by-Line Evaluation Mode": {
            "name": "Line-by-Line Evaluation Mode",
            "displayName": "Line-by-Line Evaluation Mode",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Buffer Size": {
            "name": "Maximum Buffer Size",
            "displayName": "Maximum Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Replacement Strategy": {
            "name": "Replacement Strategy",
            "displayName": "Replacement Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Text to Append": {
            "name": "Text to Append",
            "displayName": "Text to Append",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "04857bc1-019e-1000-cc9d-3a6bf9d331a1",
        "instanceIdentifier": "88d1ac6e-007e-3ff7-0c46-6e24e61ed2a4",
        "name": "ExecuteSQL",
        "comments": "",
        "position": {
          "x": -848.0,
          "y": -216.0
        },
        "type": "org.apache.nifi.processors.standard.ExecuteSQL",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Set Auto Commit": "true",
          "Max Wait Time": "0 seconds",
          "SQL Query": "SELECT \n    customer_id,\n    annual_income::numeric,\n    credit_score,\n    vehicle_age,\n    insurance_duration,\n    previous_claims,\n    health_score::numeric,\n    composite_risk_score::numeric,\n    estimated_monthly_premium::numeric,\n    customer_ltv_proxy::numeric,\n    risk_tier,\n    age_group,\n    gender,\n    location,\n    policy_type,\n    income_segment,\n    education_level,\n    occupation,\n    marital_status,\n    customer_feedback,\n    data_quality_tier,\n    claim_profile,\n    risk_category\nFROM raw_gold.fact_customer_insurance\nLIMIT 500;",
          "Database Connection Pooling Service": "bbec9734-5795-3a2e-9a23-308d4610d7f5",
          "Default Decimal Scale": "0",
          "SQL Post-Query": null,
          "Fetch Size": "500",
          "Output Batch Size": "1",
          "Use Avro Logical Types": "false",
          "Compression Format": "NONE",
          "Normalize Table and Column Names": "false",
          "SQL Pre-Query": null,
          "Default Decimal Precision": "10",
          "Max Rows Per FlowFile": "1",
          "Content Output Strategy": "EMPTY"
        },
        "propertyDescriptors": {
          "Set Auto Commit": {
            "name": "Set Auto Commit",
            "displayName": "Set Auto Commit",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SQL Query": {
            "name": "SQL Query",
            "displayName": "SQL Query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection Pooling Service": {
            "name": "Database Connection Pooling Service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Default Decimal Scale": {
            "name": "Default Decimal Scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SQL Post-Query": {
            "name": "SQL Post-Query",
            "displayName": "SQL Post-Query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Fetch Size": {
            "name": "Fetch Size",
            "displayName": "Fetch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Batch Size": {
            "name": "Output Batch Size",
            "displayName": "Output Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Use Avro Logical Types": {
            "name": "Use Avro Logical Types",
            "displayName": "Use Avro Logical Types",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Compression Format": {
            "name": "Compression Format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Normalize Table and Column Names": {
            "name": "Normalize Table and Column Names",
            "displayName": "Normalize Table and Column Names",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SQL Pre-Query": {
            "name": "SQL Pre-Query",
            "displayName": "SQL Pre-Query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Default Decimal Precision": {
            "name": "Default Decimal Precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Rows Per FlowFile": {
            "name": "Max Rows Per FlowFile",
            "displayName": "Max Rows Per FlowFile",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Content Output Strategy": {
            "name": "Content Output Strategy",
            "displayName": "Content Output Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {
          "background-color": "#3fde4a"
        },
        "schedulingPeriod": "120 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "54a6b045-536a-3a06-8c79-0b7894b211c8",
        "instanceIdentifier": "0f5b31a8-019e-1000-6d1d-e747f6bb5938",
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": 176.0,
          "y": 432.0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "Attributes to Ignore Regular Expression": null,
          "Output Format": "Line per Attribute",
          "Log Payload": "false",
          "Log Prefix": null,
          "Character Set": "UTF-8",
          "Attributes to Log Regular Expression": ".*"
        },
        "propertyDescriptors": {
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Ignore Regular Expression": {
            "name": "Attributes to Ignore Regular Expression",
            "displayName": "Attributes to Ignore Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Log Prefix": {
            "name": "Log Prefix",
            "displayName": "Log Prefix",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Attributes to Log Regular Expression": {
            "name": "Attributes to Log Regular Expression",
            "displayName": "Attributes to Log Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "aeb3f6ee-35ab-31c2-9805-ab5d41a75cec",
        "instanceIdentifier": "0db4f7b2-019e-1000-db5f-e72956fa1727",
        "name": "UpdateAttribute",
        "comments": "",
        "position": {
          "x": 168.0,
          "y": -216.0
        },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.9.0"
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "mime.type": "application/json",
          "Cache Value Lookup Cache Size": "100",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "mime.type": {
            "name": "mime.type",
            "displayName": "mime.type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          },
          "Cache Value Lookup Cache Size": {
            "name": "Cache Value Lookup Cache Size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {
          "background-color": "#07b8f2"
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "a48e2d3f-9d23-36d0-9f04-2ee89da7d226",
        "instanceIdentifier": "0ec93254-019e-1000-270c-5e3094a5cddd",
        "name": "",
        "source": {
          "id": "9b9a1b25-5607-3b59-b65f-1f06a44bfd4c",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "ConvertRecord",
          "comments": "",
          "instanceIdentifier": "0ec8cfe6-019e-1000-2c24-7abcb53aec46"
        },
        "destination": {
          "id": "95cc1c7b-9333-3f3d-b532-5c81d5882538",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "ReplaceText",
          "comments": "",
          "instanceIdentifier": "0e8d3425-019e-1000-ffaf-524a9cd0da36"
        },
        "labelIndex": 0,
        "zIndex": 12,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "d50df320-955c-335d-b4a9-9fa0d52e9ab3",
        "instanceIdentifier": "0e8eda6b-019e-1000-587e-629938cc2a9b",
        "name": "",
        "source": {
          "id": "95cc1c7b-9333-3f3d-b532-5c81d5882538",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "ReplaceText",
          "comments": "",
          "instanceIdentifier": "0e8d3425-019e-1000-ffaf-524a9cd0da36"
        },
        "destination": {
          "id": "aeb3f6ee-35ab-31c2-9805-ab5d41a75cec",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "0db4f7b2-019e-1000-db5f-e72956fa1727"
        },
        "labelIndex": 0,
        "zIndex": 9,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "b26c7626-b179-3e7c-9876-851f80e433cf",
        "instanceIdentifier": "0db63bbc-019e-1000-8b94-eecf939fe015",
        "name": "",
        "source": {
          "id": "aeb3f6ee-35ab-31c2-9805-ab5d41a75cec",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "0db4f7b2-019e-1000-db5f-e72956fa1727"
        },
        "destination": {
          "id": "0485fd80-019e-1000-d8f8-6de39cc364ef",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "41c5afe1-97df-3d76-35e3-0ad3f888f4e3"
        },
        "labelIndex": 0,
        "zIndex": 5,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "75026bfd-f318-3de3-a4bb-556fa30aa0e7",
        "instanceIdentifier": "0ec92264-019e-1000-c65e-cf582736abb8",
        "name": "",
        "source": {
          "id": "04857bc1-019e-1000-cc9d-3a6bf9d331a1",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "ExecuteSQL",
          "comments": "",
          "instanceIdentifier": "88d1ac6e-007e-3ff7-0c46-6e24e61ed2a4"
        },
        "destination": {
          "id": "9b9a1b25-5607-3b59-b65f-1f06a44bfd4c",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "ConvertRecord",
          "comments": "",
          "instanceIdentifier": "0ec8cfe6-019e-1000-2c24-7abcb53aec46"
        },
        "labelIndex": 0,
        "zIndex": 11,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      },
      {
        "identifier": "f1c12e32-18d3-3cef-8baa-f167218b8f76",
        "instanceIdentifier": "0f5b573a-019e-1000-2eaf-60a0fa2d4251",
        "name": "",
        "source": {
          "id": "0485fd80-019e-1000-d8f8-6de39cc364ef",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "41c5afe1-97df-3d76-35e3-0ad3f888f4e3"
        },
        "destination": {
          "id": "54a6b045-536a-3a06-8c79-0b7894b211c8",
          "type": "PROCESSOR",
          "groupId": "1e215665-aa2c-32bc-9a72-aa635c82c1e5",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "0f5b31a8-019e-1000-6d1d-e747f6bb5938"
        },
        "labelIndex": 0,
        "zIndex": 14,
        "selectedRelationships": [
          "Response"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1e215665-aa2c-32bc-9a72-aa635c82c1e5"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {
    "bbec9734-5795-3a2e-9a23-308d4610d7f5": {
      "identifier": "bbec9734-5795-3a2e-9a23-308d4610d7f5",
      "name": "DBCPConnectionPool",
      "comments": "",
      "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-dbcp-service-nar",
        "version": "2.9.0"
      },
      "properties": {
        "Maximum Idle Connections": "8",
        "Database Driver Locations": null,
        "Max Wait Time": "500 millis",
        "Database Driver Class Name": "org.postgresql.Driver",
        "Minimum Idle Connections": "0",
        "Kerberos User Service": null,
        "Max Total Connections": "8",
        "Validation Query": null,
        "Database Password Provider": null,
        "Database Connection URL": "#{Postgres.JdbcUrl}",
        "Password Source": "PASSWORD",
        "Time Between Eviction Runs": "-1",
        "Database User": "#{Postgres.User}",
        "Soft Minimum Evictable Idle Time": "-1",
        "Maximum Connection Lifetime": "-1",
        "Minimum Evictable Idle Time": "30 mins"
      },
      "propertyDescriptors": {
        "Maximum Idle Connections": {
          "name": "Maximum Idle Connections",
          "displayName": "Maximum Idle Connections",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Database Driver Locations": {
          "name": "Database Driver Locations",
          "displayName": "Database Driver Locations",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false,
          "resourceDefinition": {
            "cardinality": "MULTIPLE",
            "resourceTypes": [
              "DIRECTORY",
              "FILE",
              "URL"
            ]
          }
        },
        "Max Wait Time": {
          "name": "Max Wait Time",
          "displayName": "Max Wait Time",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Database Driver Class Name": {
          "name": "Database Driver Class Name",
          "displayName": "Database Driver Class Name",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Minimum Idle Connections": {
          "name": "Minimum Idle Connections",
          "displayName": "Minimum Idle Connections",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Kerberos User Service": {
          "name": "Kerberos User Service",
          "displayName": "Kerberos User Service",
          "identifiesControllerService": true,
          "sensitive": false,
          "dynamic": false
        },
        "Max Total Connections": {
          "name": "Max Total Connections",
          "displayName": "Max Total Connections",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Validation Query": {
          "name": "Validation Query",
          "displayName": "Validation Query",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Database Password Provider": {
          "name": "Database Password Provider",
          "displayName": "Database Password Provider",
          "identifiesControllerService": true,
          "sensitive": false,
          "dynamic": false
        },
        "Database Connection URL": {
          "name": "Database Connection URL",
          "displayName": "Database Connection URL",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Password Source": {
          "name": "Password Source",
          "displayName": "Password Source",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Time Between Eviction Runs": {
          "name": "Time Between Eviction Runs",
          "displayName": "Time Between Eviction Runs",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Database User": {
          "name": "Database User",
          "displayName": "Database User",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Soft Minimum Evictable Idle Time": {
          "name": "Soft Minimum Evictable Idle Time",
          "displayName": "Soft Minimum Evictable Idle Time",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Maximum Connection Lifetime": {
          "name": "Maximum Connection Lifetime",
          "displayName": "Maximum Connection Lifetime",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Minimum Evictable Idle Time": {
          "name": "Minimum Evictable Idle Time",
          "displayName": "Minimum Evictable Idle Time",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Password": {
          "name": "Password",
          "displayName": "Password",
          "identifiesControllerService": false,
          "sensitive": true,
          "dynamic": false
        }
      },
      "controllerServiceApis": [
        {
          "type": "org.apache.nifi.dbcp.DBCPService",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-services-api-nar",
            "version": "2.9.0"
          }
        }
      ],
      "scheduledState": "DISABLED",
      "bulletinLevel": "WARN",
      "componentType": "CONTROLLER_SERVICE"
    },
    "a1e54277-0ff0-3faa-b6b7-6f2e18d2cf3f": {
      "identifier": "a1e54277-0ff0-3faa-b6b7-6f2e18d2cf3f",
      "name": "JsonRecordSetWriter",
      "comments": "",
      "type": "org.apache.nifi.json.JsonRecordSetWriter",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-record-serialization-services-nar",
        "version": "2.9.0"
      },
      "properties": {
        "Schema Branch": null,
        "Schema Reference Reader": null,
        "Schema Text": "${avro.schema}",
        "Allow Scientific Notation": "false",
        "Compression Level": "1",
        "Output Grouping": "output-array",
        "Schema Registry": null,
        "Schema Access Strategy": "inherit-record-schema",
        "Schema Name": "${schema.name}",
        "Timestamp Format": null,
        "Date Format": null,
        "Pretty Print JSON": "false",
        "Suppress Null Values": "never-suppress",
        "Schema Write Strategy": "no-schema",
        "Compression Format": "none",
        "Schema Cache": null,
        "Schema Version": null,
        "Time Format": null,
        "Schema Reference Writer": null
      },
      "propertyDescriptors": {
        "Schema Branch": {
          "name": "Schema Branch",
          "displayName": "Schema Branch",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Reference Reader": {
          "name": "Schema Reference Reader",
          "displayName": "Schema Reference Reader",
          "identifiesControllerService": true,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Text": {
          "name": "Schema Text",
          "displayName": "Schema Text",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Allow Scientific Notation": {
          "name": "Allow Scientific Notation",
          "displayName": "Allow Scientific Notation",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Compression Level": {
          "name": "Compression Level",
          "displayName": "Compression Level",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Output Grouping": {
          "name": "Output Grouping",
          "displayName": "Output Grouping",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Registry": {
          "name": "Schema Registry",
          "displayName": "Schema Registry",
          "identifiesControllerService": true,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Access Strategy": {
          "name": "Schema Access Strategy",
          "displayName": "Schema Access Strategy",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Name": {
          "name": "Schema Name",
          "displayName": "Schema Name",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Timestamp Format": {
          "name": "Timestamp Format",
          "displayName": "Timestamp Format",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Date Format": {
          "name": "Date Format",
          "displayName": "Date Format",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Pretty Print JSON": {
          "name": "Pretty Print JSON",
          "displayName": "Pretty Print JSON",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Suppress Null Values": {
          "name": "Suppress Null Values",
          "displayName": "Suppress Null Values",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Write Strategy": {
          "name": "Schema Write Strategy",
          "displayName": "Schema Write Strategy",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Compression Format": {
          "name": "Compression Format",
          "displayName": "Compression Format",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Cache": {
          "name": "Schema Cache",
          "displayName": "Schema Cache",
          "identifiesControllerService": true,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Version": {
          "name": "Schema Version",
          "displayName": "Schema Version",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Time Format": {
          "name": "Time Format",
          "displayName": "Time Format",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Reference Writer": {
          "name": "Schema Reference Writer",
          "displayName": "Schema Reference Writer",
          "identifiesControllerService": true,
          "sensitive": false,
          "dynamic": false
        }
      },
      "controllerServiceApis": [
        {
          "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-services-api-nar",
            "version": "2.9.0"
          }
        }
      ],
      "scheduledState": "DISABLED",
      "bulletinLevel": "WARN",
      "componentType": "CONTROLLER_SERVICE"
    },
    "ef5bbe86-5ea9-321b-b329-8e280b8851d8": {
      "identifier": "ef5bbe86-5ea9-321b-b329-8e280b8851d8",
      "name": "AvroReader",
      "comments": "",
      "type": "org.apache.nifi.avro.AvroReader",
      "bundle": {
        "group": "org.apache.nifi",
        "artifact": "nifi-record-serialization-services-nar",
        "version": "2.9.0"
      },
      "properties": {
        "Schema Branch": null,
        "Schema Reference Reader": null,
        "Schema Text": "${avro.schema}",
        "Schema Version": null,
        "Cache Size": "1000",
        "Fast Reader Enabled": "true",
        "Schema Registry": null,
        "Schema Access Strategy": "embedded-avro-schema",
        "Schema Name": "${schema.name}"
      },
      "propertyDescriptors": {
        "Schema Branch": {
          "name": "Schema Branch",
          "displayName": "Schema Branch",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Reference Reader": {
          "name": "Schema Reference Reader",
          "displayName": "Schema Reference Reader",
          "identifiesControllerService": true,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Text": {
          "name": "Schema Text",
          "displayName": "Schema Text",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Version": {
          "name": "Schema Version",
          "displayName": "Schema Version",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Cache Size": {
          "name": "Cache Size",
          "displayName": "Cache Size",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Fast Reader Enabled": {
          "name": "Fast Reader Enabled",
          "displayName": "Fast Reader Enabled",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Registry": {
          "name": "Schema Registry",
          "displayName": "Schema Registry",
          "identifiesControllerService": true,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Access Strategy": {
          "name": "Schema Access Strategy",
          "displayName": "Schema Access Strategy",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        },
        "Schema Name": {
          "name": "Schema Name",
          "displayName": "Schema Name",
          "identifiesControllerService": false,
          "sensitive": false,
          "dynamic": false
        }
      },
      "controllerServiceApis": [
        {
          "type": "org.apache.nifi.serialization.RecordReaderFactory",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-standard-services-api-nar",
            "version": "2.9.0"
          }
        }
      ],
      "scheduledState": "DISABLED",
      "bulletinLevel": "WARN",
      "componentType": "CONTROLLER_SERVICE"
    }
  },
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}